// =============================================

//  Style Guide Overrides

// =============================================

// Bring in all Compass Helpers
@import "components/style-guide-imports.scss";
@import "../../sass/components/variables";


.style-mod {
	.h1, .h2, .h3, .h4, .h5,
	.txt-sm, .txt, .txt-lg {
		margin-bottom: 20px;
	}
	.article-byline-mod {
		margin-bottom: 0;
	}
	.article-txt {
		max-width: 600px;
	}
	.article-lead-art-mod {
		max-width: 680px;
	}
	.comment-mod {
		max-width: 680px;
	}
	&.section-headers {
		.section-h2,
		.section-h {
			margin-bottom: 40px;
		}

	}
	.btn-large,
	.btn-medium,
	.btn-small {
		margin-right: 30px;
	}

	.section-h3,
	.section-h4 {
		text-align: center;
	}

	.fancy-grid {
		background-color: rgb(253, 250, 243);
	}

	.placeholder{
		background: #cdcdcd;
		width: 90%;
		height: 120px;
		margin-top: 15px;
	}

	.star-line {
		margin-bottom:30px;
	}

	.search {
		width: 16px;
	}

	.pullquote	{
		@include mq(900px) {
			margin-left: 0px;
			margin-right: 0px;
		}
	}

} // style-mod

.style-example--link-types {
	> a {
		font-size: 16px;
		margin-right: 50px;
	}

.hdr-logo-img-wide {
	width: 120px;
	}

}

// Remove dropcap
.no-dc .article-txt {
	> p:first-of-type:first-letter {
		font: normal 18px/180% $serif;
		float: none;
		display: inline;
		margin: 0;
		color: #333;
		text-transform: none;
	}

	> p.pullquote:first-of-type:first-letter {
		color: $accent;
		font: italic $serif-book 26px/146% $serif;
		@include mq(500px) {
			font-size: 32px;
		}
	}

	> p > strong:first-of-type:first-letter {
		font-weight: bold;
	}
}

.article-txt {
	h1:first-child {
		margin-top: 0;
	}
}



//
// Colors
//

.color-mod {
	width: 80px;
	height: 110px;
	display: inline-block;
	position: relative;
	margin: 10px 20px 10px 0;
	border: 1px solid #ccc;
}

.color-txt {
	position: absolute;
	width: 100%;
	text-align: center;
	padding: 5px 0;
	bottom: 0;
	background-color: white;
	border: 1px solid #ccc;
}

.color-name {
	font: 600 12px $style-sans;
	display: block;
}

.color-hex {
	font: 400 12px $style-sans;
	text-transform: uppercase;
}

.sample-content {
	height: 130px;
	font: 400 18px/155% $style-sans;
	// overflow: scroll;
	background-color: $bg;
	padding: 20px;

}

// Project Colors
.bg-red {
	background-color: #9B1518;
}

.bg-green {
	background-color: #156627;
}

.bg-blue {
	background-color: #2658A8;
}

.bg-purple {
	background-color: #6B1F5E;
}

.bg-black {
	background-color: #000;
}

.site-icon-mod .hdr-logo-img-wide {
	display: block;
	margin-bottom: 20px;
}

//
// Mailchimp
//

.chimp-wrap {
	padding: 5%;
	width: 100%;
	font-size: 1.3em;
	line-height: 1.4em;
	text-align: center;
}

.chimp-img {
	width: 89%;
	max-width: 902px;
}

.chimp-section {
	padding: 0 2em 5em 2em;
	p {
		padding: 0 3em;
	}
	h2 {
		text-align: center;
	}
	em {
		font-weight: 600;
	}
	a {
		color: inherit;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
}

.chimp-list {
	list-style-type:circle;
	text-align: left;
	padding-left: 14%;
}
