<!-- ~~~~~~~~~~~~~~~~~~~~~~	-->
<!-- Navigation 							-->
<!-- ~~~~~~~~~~~~~~~~~~~~~~	-->

<nav class="style-nav">
	<h4 class="style-nav-h"><a href="#typography">Typography</a></h4>
	<ul class="style-nav-list">
		<li><a class="style-nav-link" href="style-guide-inner.html#headlines" target="style-guide-inner" onclick="frames['style-guide-inner'].document.getElementById('headlines').scrollIntoView();return false">Headlines</a></li>
		<li><a class="style-nav-link" href="style-guide-inner.html#headlines" target="style-guide-inner" onclick="frames['style-guide-inner'].document.getElementById('headlines').scrollIntoView();return false">Headlines with Links</a></li>
		<li><a class="style-nav-link" href="style-guide-inner.html#article-h" target="style-guide-inner" onclick="frames['style-guide-inner'].document.getElementById('article-h').scrollIntoView();return false">Article Headlines</a></li>
		<li><a class="style-nav-link" href="style-guide-inner.html#overline" target="style-guide-inner" onclick="frames['style-guide-inner'].document.getElementById('overline').scrollIntoView();return false">Overline</a></li>
		<li><a class="style-nav-link" href="#basic-h3">Basic h3</a></li>
		<li><a class="style-nav-link" href="#link">Links</a></li>
		<li><a class="style-nav-link" href="#article-text">Article Text</a></li>
		<li><a class="style-nav-link" href="#tease-text">Tease Text</a></li>
		<li><a class="style-nav-link" href="#tease-h">Tease Headlines</a></li>
	</ul>
	<h4 class="style-nav-h"><a href="#modules">Modules</a></h4>
	<ul class="style-nav-list">
		<li><a class="style-nav-link" href="#image-caption">Image Caption</a></li>
		<li><a class="style-nav-link" href="#author-byline">Author Byline</a></li>
		<li><a class="style-nav-link" href="#comment">Comment</a></li>
	</ul>
	<h4 class="style-nav-h"><a href="#lists">Lists</a></h4>
	<ul class="style-nav-list">
		<li><a class="style-nav-link" href="#list-num">Numbered</a></li>
		<li><a class="style-nav-link" href="#list-bull">Bulleted</a></li>
		<li><a class="style-nav-link" href="#list-bull-credit">Bulleted with Credits</a></li>
		<li><a class="style-nav-link" href="#list-alpha">Alphabetical</a></li>
		<li><a class="style-nav-link" href="#list-horiz">Horizontal</a></li>
		<li><a class="style-nav-link" href="#list-in-list">List in List</a></li>
	</ul>
	<h4 class="style-nav-h"><a href="#objects">Objects</a></h4>
	<ul class="style-nav-list">
		<li><a class="style-nav-link" href="#btn-strong">Button Strong</a></li>
		<li><a class="style-nav-link" href="#btn-light">Button Light</a></li>
		<li><a class="style-nav-link" href="#btn-link">Button Link</a></li>
	</ul>
	<h4 class="style-nav-h"><a href="#forms">Forms</a></h4>
	<ul class="style-nav-list">
		<li><a class="style-nav-link" href="#text-input">Text Input</a></li>
		<li><a class="style-nav-link" href="#text-input-w-btn">Text Input with Button</a></li>
		<li><a class="style-nav-link" href="#radio-btn">Radio Button</a></li>
	</ul>
</nav> <!-- /style-nav -->
